/* Ryan & Natasha CSS

/* Theme: Terminal Window */

/*   ----- Imports  -----  */
/*  Inspired from ~
    Source: https://css-tricks.com/old-timey-terminal-styling/
*/

/*   ----- Variables  -----  */
:root {
 
    --terminalGrey: #221e2b;
    --neonGreen: #00bb10;
    --softWhite: #d8ead5;
    --darkGreen: #022601;
    --oliveGreen: #60664C;
    --terminalBlack: #05060B;
    --lightGreenTransparent: #91f296e6;
  }


  body {  
    background-color: black;
    background-image: radial-gradient(
        rgba(0, 150, 0, 0.75), black 120%
        );
    height: 100vh;
    text-align: center;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
background-image: repeating-linear-gradient
            (
              0deg,
              transparent 1px,
              transparent 2px,
              rgba(black, 0.15),
              rgba(black, 0.15) 1px
            );
    pointer-events: none;
          }
    } 

/* This removes the blurry text effect */
    ::selection {
        background: #37ff00;
        text-shadow: none;
      }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

/*  ----- Page layout blocks -----  */
header, footer {
    color: var(--neonGreen);
    padding: 11px ;
    font-size: 10px;
  }
  
  section {
    padding: 10px;
  }
  article {
    padding: 10px;
    border-top: 2px dotted var(--softWhite);
    border-right: 2px dashed var(--navyBlue);
    border-bottom: 2px solid var(--navyBlue);
    border-left: 2px groove var(--navyBlue);
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: var(--terminalGrey);
    color: var(--neonGreen) ;
    /* Add a style for links */
  }

  h3 {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 5%;
        background-color: var(--terminalGrey);
        color: var(--neonGreen) ;
      }
  }

  /*  ----- Table ----- */

  table, th, td {
      border: 1px solid white ;
      border-collapse: collapse;
      padding: 4px ;
      background-color: #141416;;
      color: var(--neonGreen);
    } ;

    .App-header {
        background-color: #141416;
        min-height: 100vh;
        max-width: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
      }



/*  ----- Form ----- */
button {
    padding: 0.5em;
    background-color: #141416;;
    color: var(--neonGreen);
    width: 40%;
    height: 50px;
    border-radius: 16px;
    font-weight:bold;
    font-size: 1em;
  }
  button:hover {
    background-color: var(--softWhite);
    color:var(--neonGreen);
  }

.actions {
    background-color: #141416;
    color: var(--neonGreen);
}

.MuiDataGrid-row,.MuiDataGrid-footerContainer,.MuiSelect-standard {
    background-color: var(--terminalGrey);
    color: green;
    text-shadow: none;
}

/* Hyperlinks */
a:-webkit-any-link {
    color: var(--neonGreen);
    text-decoration: underline;
    text-shadow: 0 0 10px  #000000;
}

/* Header Tools */
.FullFeaturedCrudGrid, .css-ptiqhd-MuiSvgIcon-root, .MuiSvgIcon-root, .css-MuiSvgIcon-root {
    color: var(--neonGreen);
}

/* General Table formatting */
.css-rbjqkq-MuiDataGrid-root, .MuiDataGrid-root, .css-MuiDataGrid-root {
    background-color: #141416;
    color: var(--neonGreen);
    align-items: flex;
    justify-content: center;
/* This isn't cooperating
    padding-left: 5%;
    padding-right: 5%;
*/
}

.MuiTablePagination-selectLabel, .MuiSelect-select-MuiInputBase-input {
    background-color: #141416;
    color: var(--neonGreen);
}
.MuiButtonBase-root-MuiIconButton-root, .MuiList-root-MuiMenu-list, .css-16mfp94-MuiTablePagination-root .MuiTablePagination-input, .MuiTablePagination-root, .css-MuiTablePagination-root 
{
    background-color: black;
    color: green;
}

.css-levciy-MuiTablePagination-displayedRows, .cssMuiTablePagination-displayedRows {
    background-color: black;
    color: var(--neonGreen);
}

/* Table Formatting and Selection for Insert, Edit, Ect */
.css-1jlz3st, .css-rbjqkq-MuiDataGrid-root, .MuiDataGrid-row--editing, .MuiDataGrid-cell, .css-1b74o31-MuiInputBase-root-MuiDataGrid-editInputCell {
  color: var(--neonGreen);
  text-shadow: none;
}

/* Scrollbar */
.MuiDataGrid-scrollbar, .MuiDataGrid-scrollbar--horizontal, .css-1rtad1 {
  margin: auto;
  padding: 0;
  align-items: center;
  overflow-y: auto;
  position: sticky;

}

.App {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        color: var(--neonGreen) ;
      }
}